/**
 * QA CSS.
 *
 * @authors Aleksander Tabor, Mateusz Prasal
 */

 @font-face {
     font-family: "Dosis";
     src: url("font/Dosis-Regular.ttf");
 }

 @font-face {
     font-family: "Dosis";
     src: url("font/Dosis-Bold.ttf");
     font-weight: bold;
 }

body {
  font-family: 'Dosis';
  background-color: #B9DFA9;
}

.thankyou {
  color: #fff;
  text-align: center;
  font-size: 50px;
}

.thankYouPhone {

}

.logo {
  width: 300px;
  height: 73px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.container {
    width: 970px;
    margin: 0 auto;
}

.form-tel {
  text-align: center;
  background-color: white;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nr_tel {
  font-size: 40px;
}

input.nr_telefonu {
    width: 30%;
    padding: 10px 5px 10px 10px;
    display: block;
    border: 2px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);
  }

  input[type="submit"] {
      background: #1D8641;
      border: 0;
      width: 10%;
      height: 40px;
      border-radius: 3px;
      margin-top: 20px;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
  }

  .podajnr {
    font-size: 35px;
  }
