/**
 * QA CSS.
 *
 * @authors Aleksander Tabor, Mateusz Prasal
 */

body {
  background-color: #1D8641;
}

.thankyou {
  color: #fff;
  text-align: center;
  font-size: 50px;
}

.thankYouPhone {

}

.logo {
  width: 300px;
  height: 73px;
  display: block;
  margin: 0 auto;
}

.container {
    width: 970px;
    margin: 0 auto;
}

.form-tel {
  text-align: center;
  background-color: white;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
